{% load static %}
<!-- Feadtued Categories -->

<div class="categories">
  <h2 class="title">Categories</h2>

  <div class="small-container">
      <div class="row">
          <div class="col-4">
              <img src="{% static 'images/sproutes.png' %}">
           
          </div>
          <div class="col-4">
              <img src="{% static 'images/leaf.png' %}">
          

          </div>
          <div class="col-4">
              <img src="{% static 'images/Leaf.jpg' %}">
          </div>
          <div class="col-4">
              <img src="{% static 'images/Bulbs.png' %}">
          </div>
      </div>
  </div>
</div>