{% load static %}
<div class="header">
  <div class="container">
      <div class="navbar">
          <div class="logo">
              <a href="{% url 'index' %}"><img src="{% static 'images/logoo.png' %}" alt="logo" width="55px"></a>
          </div>
          <nav>
              <ul id="MenuItems">
                  <li><a href=" {% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'products' %}">Products</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><a href="{% url 'Account' %}">Account</a></li>
              </ul>
          </nav>
          <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
          <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
      </div>
      <div class="row">
          <div class="col-2">
              <h1>Fresh and Organic <br> Veggies...!</h1>
              <p>Success isn't always about greatness. It;s about consistency. Consistent <br> hard work gains
                  success. Greatness will come.</p>
              <a href="" class="btn">Explore Now &#8594;</a>
          </div>
          <div class="col-2">
              <img src="{% static 'images/veg.png' %}">
          </div>
      </div>
  </div>
</div>